{% extends 'base.html' %}

{% block title %}Produtos - Gráfica Express{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h5>Categorias</h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="{% url 'products:product_list' %}">Todos os produtos</a>
                    </li>
                    {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-md-9">
        <h1>{% if category %}{{ category.name }}{% else %}Todos os Produtos{% endif %}</h1>
        
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <p class="card-text"><strong>Preço base: R$ {{ product.base_price }}</strong></p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary btn-sm">Ver detalhes</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12">
                <div class="alert alert-info">Nenhum produto encontrado.</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}